APP_NAME=Arbor
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://arbor.test

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=arbor
DB_USERNAME=root
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=arbor@npng.pl
MAIL_FROM_NAME="${APP_NAME}"

TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM=

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_DEFAULT_REGION=eu-central-1
S3_BUCKET=
S3_URL=

BACKUP_S3_ACCESS_KEY_ID=
BACKUP_S3_SECRET_ACCESS_KEY=
BACKUP_S3_DEFAULT_REGION=eu-central-1
BACKUP_S3_BUCKET=
BACKUP_S3_URL=

LB_KEY=
LB_PROJECT_KEY=
