parameters:
    level: 6
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - app/Providers/MacrosServiceProvider.php
        - app/Services/Sources/Source.php
    scanFiles:
        - tests/Helpers.php
        - tests/TestDox.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: true
    checkPhpDocMissingReturn: true
    ignoreErrors:
        - '#^Access to an undefined property Pest\\Expectation(\|Pest\\Support\\Extendable)?::\$\w+\.$#'
        - '#^Call to an undefined method Pest\\Expectation\|Pest\\Support\\Extendable::(age|canRead|toBeCollection|toBeModel)\(\)\.$#'
        - '#^Call to an undefined method Pest\\PendingObjects\\TestCall::(get|post|withPermissions)\(\)\.$#'
        - '#^Method .* return type with generic class Illuminate\\Database\\Eloquent\\Relations\\\w+ does not specify its types: .*$#'
        - '#^Method .* has parameter .* with generic class Illuminate\\Database\\Eloquent\\Relations\\Relation but does not specify its types: .*$#'
        - '#^Method App\\Services\\Pytlewski\\Pytlewski::parseChildrenOrSiblings\(\) should return Illuminate\\Support\\Collection<int, array{id: string, name: string}> but returns Illuminate\\Support\\Collection<int, array{id: mixed, name: mixed}>\.$#'
        - '#^Method App\\Services\\Pytlewski\\Pytlewski::parseMarriages\(\) should return Illuminate\\Support\\Collection<int, array{id: string, name: string, date: string, place: string}> but returns Illuminate\\Support\\Collection<int, array{id: mixed, name: mixed, date: mixed, place: mixed}>\.$#'
        - '#^Method Faker\\Generator::lastName\(\) invoked with 1 parameter, 0 required\.$#'
        - '#^Parameter \#1 \$value of function Pest\\Laravel\\travel expects int, string given\.$#'
        - '#^Parameter \#1 \$year of static method Carbon\\CarbonImmutable::create\(\) expects int\|null, string given\.$#'
        - '#^Property App\\Models\\\w+::\$\w+_date_(from|to) \(Carbon\\Carbon\|null\) does not accept string\.$#'
        - '#^Property App\\Models\\\w+::\$\w+_date_(from|to) is not writable\.$#'
        - '#^Using nullsafe property access on non-nullable type mixed\. Use -> instead\.$#'
        -
            message: '#^Undefined variable: \$this$#'
            path: tests/
        -
            message: '#^Using nullsafe method call on non-nullable type App\\Enums\\Sex::Female\. Use -> instead\.$#'
            path: database/factories/PersonFactory.php

includes:
    - vendor/nunomaduro/larastan/extension.neon
