@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .a {
    @apply text-blue-700;
    @apply transition-colors duration-100 ease-out;
    @apply hover:text-blue-800 focus:text-blue-800;
  }

  small {
    @apply text-gray-500 font-normal;
  }

  .a > small {
    @apply transition-colors duration-100 ease-out;
  }

  .a:hover > small, .a:focus > small {
    @apply text-gray-800;
  }

  dl {
    @apply flex flex-wrap;
  }

  dt {
    @apply w-full font-bold;
  }

  dd {
    @apply w-full pl-3 pb-1;
  }

  @screen sm {
    dt {
      @apply w-1/4;
    }

    dd {
      @apply w-3/4;
    }

    dt {
      overflow: hidden;
      white-space: nowrap;
    }

    dt:after {
      font-weight: normal;
      font-size: 0.4rem;
      content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    }
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center;
    @apply rounded-md px-4 py-2 leading-5;
    @apply text-white bg-blue-600;
    @apply transition-colors duration-150 ease-out;
  }

  .btn[disabled] {
    @apply bg-gray-500;
    @apply cursor-default;
  }

  .btn:enabled {
    @apply hover:bg-blue-500;
    @apply focus:outline-none focus:border-blue-700 focus:shadow-outline-blue;
    @apply active:bg-blue-700;
  }

  .btn.btn-red {
    @apply bg-red-600;
  }

  .btn.btn-red:enabled {
    @apply hover:bg-red-500;
    @apply focus:border-red-700 focus:shadow-outline-red;
    @apply active:bg-red-700;
  }

  .btn-out {
    @apply inline-flex items-center;
    @apply px-3 py-1 rounded-md;
    @apply border border-blue-700;
    @apply text-blue-700;
    @apply transition-colors duration-100 ease-out;
  }

  .btn-out[disabled] {
    @apply border-gray-500 text-gray-500;
    @apply cursor-default;
  }

  .btn-out:enabled {
    @apply hover:bg-blue-100 hover:text-blue-800;
    @apply focus:outline-none focus:shadow-outline-blue;
    @apply active:bg-blue-600 active:border-blue-600 active:text-blue-100;
  }

  .form-input, .form-select {
    @apply py-1.5;
  }

  .form-input.invalid, .form-select.invalid {
    @apply shadow-outline-red;
  }

  .form-input[disabled], .form-select[disabled] {
    @apply bg-gray-100 text-gray-700;
  }

  .external-small-container {
    width: 10px;
    height: 14px;
    margin: 3px 1px 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
    bottom: 0;
  }

  .external-small-link {
    width: 6px;
    height: 6px;
    padding: 0;
    color: #fff;
    display: block;
    box-sizing: border-box;
    cursor: context-menu;
  }

  .link-wielcy {
    content: 'w';
    background-color: #f5f8fc;
    margin: 0 2px 0 2px;
    border: 1px solid #7ab8ff;
  }

  .link-pytlewski {
    content: 'p';
    background-color: #f5f8fc;
    margin: 2px 2px 0 2px;
    border: 1px solid #7ae16c;
  }

  .link-wielcy-active {
    content: 'w';
    background-color: #73adff;
    margin: 0 2px 0 2px;
    border: 1px solid #205daf;
  }

  .link-pytlewski-active {
    content: 'p';
    background-color: #79d96a;
    margin: 2px 2px 0 2px;
    border: 1px solid #208712;
  }
}
